@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Raleway:wght@100..900&display=swap');

:root {
  --main-bg: hsl(222, 100%, 98%);
  --accent-clr: hsl(242, 100%, 64%);
  --text-clr: hsl(244, 16%, 17%);

  --productive-user-bg: hsl(235, 100%, 95%);

  --testimonial-card-bg: hsl(228, 100%, 99%);
  --testimonial-card-border-clr: hsl(0, 16%, 94%);
  --testimonial-card-hover-border-clr: hsl(0, 16%, 84%);

  --focus-better-bg: #ffffff;

  --input-bg: #fff;
  --input-clr: #000;
  --input-border-clr: #d6dded;

  --footer-bg: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.root {
  color: var(--text-clr);
  background-color: var(--main-bg);
}

.theme-btn {
  position: fixed;
  z-index: 5;
  top: 1rem;
  left: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: hsl(228, 50%, 50%);
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  font-size: 0.825rem;
  font-weight: 600;
  border-radius: 0.5rem;
  user-select: none;

  box-shadow: 0 3px 8px 0px hsl(0, 0%, 0%, 0.2);

  &:hover {
    background-color: hsl(228, 50%, 55%);
  }

  &:active {
    translate: 0 1px;
    background-color: hsl(228, 50%, 60%);
  }

  transition: background-color 150ms;

  @media (pointer: fine) {
    cursor: pointer;
  }
}

.theme-btn::selection {
  background-color: transparent;
  color: #fff;
}

input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

input[type='checkbox']:checked + .root {
  --main-bg: hsl(222, 100%, 2%);
  --accent-clr: hsl(242, 100%, 70%);
  --text-clr: hsl(244, 16%, 83%);

  --productive-user-bg: hsl(235, 30%, 7%);

  --testimonial-card-bg: hsl(228, 30%, 10%);
  --testimonial-card-border-clr: hsl(228, 40%, 18%);
  --testimonial-card-hover-border-clr: hsl(0, 0%, 23%);

  --focus-better-bg: hsl(228, 30%, 10%);

  --footer-bg: hsl(228, 30%, 10%);

  --input-bg: hsl(228, 30%, 15%);
  --input-clr: hsl(228, 30%, 95%);
  --input-border-clr: hsl(228, 30%, 27%);

  .hero-background {
    background-image: url('./assets/hero-bg-dark.png');
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.hero-background {
  background-image: url('./assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centered-section {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  box-sizing: content-box;
}

.section-spacing-y:not(.section-spacing-y:last-child) {
  margin-block-end: 5rem;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > span {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--accent-clr);
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 0.925rem;
  font-weight: 600;
  border: none;
  background-color: var(--accent-clr);
  color: white;
  padding-inline: 2rem;
  padding-block: 0.825rem;
  border-radius: 0.625rem;
  border: 1px solid var(--accent-clr);

  transition: background-color 250ms, color 250ms, translate 250ms, box-shadow 500ms;

  @media (pointer: fine) {
    cursor: pointer;
  }
}

.btn:hover {
  translate: -2px;
  background-color: transparent;
  color: var(--accent-clr);
  box-shadow: 3px 5px 0 var(--accent-clr);
}
.btn:active {
  translate: -2px 3px;
}

.layered-img-container {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* ! Hero section styling */
.hero-section {
  padding-block: 6rem 10rem;
}

h1 {
  font-size: clamp(1.725rem, 0.826rem + 3.5962vw, 4.0625rem);
  text-align: center;
  max-width: 800px;
  margin-inline: auto;
  margin-block-end: 2.25rem;
}

h2 {
  font-size: clamp(1.425rem, 0.9635rem + 1.8462vw, 2.625rem);
}

h1 + span {
  display: block;
  max-width: fit-content;
  margin-inline: auto;

  font-family: 'Raleway', sans-serif;
  font-size: 0.925rem;
  font-weight: 600;
  border: none;
  background-color: var(--accent-clr);
  color: white;
  padding-inline: 2rem;
  padding-block: 0.825rem;
  border-radius: 0.625rem;
  border: 1px solid var(--accent-clr);
}

/* ! Action section */
.action-section {
  > div:first-child {
    max-width: 520px;
    display: grid;
    gap: 1rem;

    p {
      font-size: 1.4725rem;
      font-family: 'Raleway', sans-serif;
      opacity: 0.4;
    }

    button {
      max-width: fit-content;
    }
  }

  > div:last-child {
    border-radius: 3rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: scale 500ms;
    }

    &:hover img {
      scale: 1.1;
    }
  }

  @media (width < 700px) {
    display: grid;
    gap: 2rem;

    > div:first-of-type {
      justify-items: center;
      text-align: center;
      margin-inline: auto;
    }
  }

  @media (width>=700px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

/* ! Productive user section styling */
.productive-user-section {
  background-color: var(--productive-user-bg);
  padding-block: 3rem;
  border-radius: 1.5rem;
  box-sizing: border-box;

  display: grid;
  gap: 2rem;

  h2 {
    text-align: center;
  }

  > div {
    > div {
      display: grid;
      justify-items: center;

      > :first-child {
        font-size: clamp(3rem, 2.2308rem + 3.0769vw, 5rem);
        line-height: clamp(3.75rem, 3.0288rem + 2.8846vw, 5.625rem);
        color: var(--accent-clr);
        font-weight: 700;
      }

      > :last-child {
        font-size: clamp(0.925rem, 0.8096rem + 0.4615vw, 1.225rem);
        opacity: 0.5;
      }
    }

    @media (width >= 700px) {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      * {
        flex: 1;
      }
    }
    @media (width<700px) {
      > :not(:last-child) {
        margin-block-end: 1rem;
      }
    }
  }
}

/* ! Testimonial section styling */
.testimonial-section {
  display: grid;
  gap: 2rem;

  h2 {
    text-align: center;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}

.testimonial-card-container:hover > .testimonial-card:not(:hover) {
  filter: blur(3px);
}

.testimonial-card:hover {
  border-color: var(--testimonial-card-hover-border-clr);
  scale: 1.02;
  translate: 0 -5px;
}

.testimonial-card {
  border: 1px solid var(--testimonial-card-border-clr);
  background-color: var(--testimonial-card-bg);
  border-radius: 1.225rem;
  padding: 1.5rem;

  display: grid;
  gap: 1.5rem;

  transition: filter 200ms, border-color 200ms, scale 250ms, translate 250ms;

  > div:first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  > div:first-child + div {
    display: grid;
    gap: 0.5rem;
  }

  > div:last-child {
    display: flex;
    align-items: center;
    gap: 0.725rem;

    img {
      border-radius: 50%;
    }

    div {
      display: grid;

      h5 {
        opacity: 0.7;
        font-weight: 600;
      }
      span {
        font-size: 0.825rem;
        opacity: 0.5;
      }
    }
  }
}

/* ! Focus better section */
.focus-better-section {
  background-color: var(--focus-better-bg);
  display: grid;
  gap: 2rem;
  border-radius: 1rem;
  padding-block: 4rem;
  padding-inline: 1.5rem;

  > :first-child {
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 1rem;

    p {
      opacity: 0.7;
    }
  }

  > :last-child {
    max-width: fit-content;
    margin-inline: auto;
    border-radius: 2.625rem;
    overflow: hidden;

    img {
      transition: scale 500ms;
    }

    &:hover img {
      scale: 1.1;
    }
  }
}

/* ! Form section styling */

.form-section {
  h2 {
    font-size: clamp(1.725rem, 0.3692rem + 5.4231vw, 5.25rem);
  }

  @media (width < 700px) {
    h2 {
      text-align: center;
    }
  }

  @media (width>=700px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    * {
      flex: 1;
    }
  }
  @media (width < 700px) {
    > :not(:last-child) {
      margin-block-end: 2.5rem;
    }
  }
}

form {
  display: grid;

  input,
  textarea {
    min-width: 0;
    width: 100%;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 0.525rem;
    border: 1px solid var(--input-border-clr);
    background-color: var(--input-bg);
    color: var(--input-clr);

    transition: box-shadow 200ms;
  }

  input:focus,
  textarea:focus {
    border: 1px solid var(--accent-clr);
    box-shadow: 0 0 1px 4px hsl(from var(--accent-clr) h s calc(l + 20));
  }

  textarea {
    resize: none;
  }

  > div {
    display: grid;
    gap: 0.325rem;
    margin-block-end: 1rem;

    label {
      font-weight: 500;
    }
  }

  button {
    display: block;
    height: 60px;
  }
}

/* ! Footer styling */
footer {
  padding-block: 6rem;
  background-color: var(--footer-bg);
}

footer > div {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin-inline: auto;
  display: grid;
  justify-items: center;
  color: #8987a1;

  p {
    text-align: center;
    max-width: 55ch;
  }

  > :not(:last-child) {
    margin-block-end: 1.5rem;
  }
}

.footer-logo-text {
  font-size: clamp(3rem, 1.75rem + 5vw, 6.25rem);
  font-weight: 700;
  color: var(--accent-clr);
  line-height: clamp(3.75rem, 2.7885rem + 3.8462vw, 6.25rem);
}

.footer-link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 5px;
    transition: text-underline-offset 300ms;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    font-weight: 500;

    &:hover {
      color: var(--accent-clr);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--accent-clr);
  outline-offset: 2px;
}
